<mat-card class="card-type normal" id="task_card_{{index}}" [class.success]="task.status === 'COMPLETE'" [class.danger]="task.status === 'BLOCKED'">
    <mat-toolbar class="status">
        <mat-toolbar-row>
            <div class="toolbar-item-item left">
                <div id="status_{{index}}" [ngClass]="{
                    'text-success': task.status === 'COMPLETE',
                    'text-danger': task.status === 'BLOCKED',
                    'text-normal': task.status !== 'COMPLETE' && task.status !== 'BLOCKED'
                }">{{task.status }}</div>
                <div class="title" id="title_{{index}}"> {{ task.title }} </div>
            </div>
            <div class="toolbar-item-item right">
                <span class="card-icons" [ngSwitch]="task.status">
                    <img id="new_badge_{{index}}" *ngSwitchCase="'REQUIRED'" [style.visibility]="isNewTask(type, index) ? 'visible': 'hidden'"  class="workflow-status-icon new-badge-icon" src=" ../../assets/icons/new.svg"/>
                    <img id="blocked_badge_{{index}}" *ngSwitchCase="'BLOCKED'" class="workflow-status-icon" src=" ../../assets/icons/blocked.svg"/>
                    <img id="check_badge_{{index}}" *ngSwitchCase="'COMPLETE'" class="workflow-status-icon" src=" ../../assets/icons/complete.svg"/>
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="card-footer">
        <div class="container left">
            <div class="date-wrapper" id="date_{{index}}">
                <mat-icon id="date_icon_{{index}}" matSuffix class="date-icon" svgIcon="date"></mat-icon>
                <span class="date" >{{task.date}} </span>
            </div>
            <div class="message-wrapper" id="numberOfMessages_{{index}}">
                <mat-icon id="message_icon_{{index}}" matSuffix class="message-icon" svgIcon="comments"></mat-icon>
                <span class="numberOfMessages">{{task.numberOfMessages}} </span>
            </div>
        </div>
        <div class="container right" id="avatar_block_{{index}}">
            <img *ngFor="let imgObj of task.img" class="avatar-img" [src]="imgObj" alt="" />
        </div>
    </div>
</mat-card>

