@import "global_styles";

.mat-card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    height: 160px;
    border-radius: 0px !important;
    border: 1px solid #B4B4B4;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.1);
    &.normal{
        border-left: 3px solid $color-blue;
    }
    &.success {
        border-left: 3px solid $color-green;
    }
    &.danger {
        border-left: 3px solid $color-red;
    }
}

.mat-toolbar-multiple-rows{
    min-height:0px;
}

.status{
    flex: 0.33;	
    color: $color-dark-blue;	
    @include font-pncbrand();
    @include font-size(12);	
    @include font-weight(medium);	
    line-height: 20px;
    background: none;
    .mat-toolbar-row {
        padding-left: 0;
        padding-right: 0; 
        .toolbar-item-item {
            display: inline-block;
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }
    }
    .text-success {
        color: $color-green;
    }
    .text-danger {
        color: $color-red;
    }
    .text-normal {
        color: $color-blue;
    }
}

.card-footer {
    display: flex;
    flex: 0.67;
    // padding-bottom: 10px;
    .left {
        .date {
            margin-right: 10px;
        }
        .mat-icon {
            margin-right: 5px;
            height:16px !important;
            width: 16px !important;
        }
    }
}

.avatar-img{
    width: 33%;
    max-width: 36px; 
}

.title{
    height: 22px;
    width: 203px;
    color: $color-black;
    @include font-pncbrand();
    @include font-size(16);	
    @include font-weight(medium);	
    @include line-height(20);	

}

.left{
    display: flex;
    flex: 0.6;
    align-items: flex-end;
}

.right{
    display: flex; 
    flex: 0.4;
    align-items: flex-end;
    justify-content: flex-end;
}

.date-wrapper{
    display: flex;
   
}
.date-icon{
    align-self: center !important;
}
.date{
    color: #606060;	
    @include font-pncbrand();
    @include font-size(12);	
    @include font-weight(medium);
    @include line-height(20);	
}
.message-wrapper{
    display: flex;
}
.message-icon{
    align-self: center !important;
}
.numberOfMessages{
    color: #606060;
    @include font-pncbrand();
    @include font-size(12);	
    @include font-weight(medium);
    @include line-height(20);
}

.workflow-status-icon {
    position: absolute;
    right: 5px;
    top: 0;
}

.spacer {
    flex: 1 1 auto;
}

.new-badge-icon {
    position: absolute;
    right: 0;
    top: -7px;
}


@include ultra{
    
        @import "./styles/ultra";
}
@include xtralarge{
        @import "./styles/xtralarge";
}
@include large{
        @import "./styles/large";
}
    @include medium{
        @import "./styles/medium";
        
    }
    @include small{
        @import "./styles/small";
    }
