@import "../../../../../../assets/sass/global_styles";

.avatar-component{
/*     margin-top:50px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:18px;
    display: flex;
    align-content: flex-start; */
    .avatar-banner {
        display: flex;
        flex-flow:row ;
        flex-direction: row;
        align-content: flex-start;
        text-align: left;
    }
    .pnc-support{
        text-align: left;
    }
    .image{
        margin:0px;
        border-radius:0%;
        margin-right:20px;
    }
}
    .welcometext{
        @include font-size(38);
        @include font-weight(300);
        line-height: 48px;
    }
    .banner-body{
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 290px;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .bg-banner{
        min-height: 355px; 
    }
    .tab-menu-label{
        @include font-size(20);
        padding-top: 2px;
    }

    .tasktext{
        padding-bottom:0px;
    }
