<div class="cpo-select-container">
   <div class="cpo-select-trigger select-{{triggerStatus}}" (click)="toggleSelect()">
     <span class="cpo-select-trigger-text">
       {{data.value.label}} ({{data.value.data.length}})
     </span>
     <span class="cpo-select-trigger-icon right">
        <mat-icon  svgIcon="keyboard_arrow_down"></mat-icon>
     </span>
   </div>
   <div class="cpo-select-options" [hidden]="isSelectClosed">
     <div class="cpo-select-option" [ngClass]="{'selected': option.value === data.value.value}" *ngFor="let option of options" (click)="onSelectionChange(option)">
        {{option.label}} ({{option.data.length}})
      </div>
   </div>
</div>
