@import "global_styles";

.cpo-select-container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-align: left;
    color: $color-black;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.125;
    font-family: 'PNC Brand';
    .cpo-select-trigger {
        padding-top: 15px;
        padding-bottom: 15px;
        &.select-close {
            border-bottom: 1px solid $color-gray-3;
        }
        &.select-open {
            border-bottom: 1px solid $color-blue;
            .cpo-select-trigger-icon {
                transform: rotate(180deg);
            }
        }
        .cpo-select-trigger-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
        }
        .cpo-select-trigger-icon {
            color: $color-blue;
        }
    }
    .cpo-select-options {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .cpo-select-option {
            display: flex;
            flex-direction: column;
            color: $color-black;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            padding-top: 15px;
            padding-left: 10px;
            padding-bottom: 15px;
            cursor: pointer;
            &:hover {
                background-color: $color-gray-1;
            }
            &.selected {
                display: none;
            }
        }
    }
    .right{
        float: right;
    }
}